{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "html",
    "@tivac/svelte"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@tivac/svelte/svelte"
  ]
}