<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Calendar URL Generator</title>
  <link rel="icon" href="public/icon.png" type="image/png" />
  <meta property="og:title" content="Calendar Link Generator" />
  <meta property="og:description" content="Generate links for Gmail, Outlook, Yahoo or plain old ICS right from your browser" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://calendar.agney.dev" />
  <meta name="author" content="Agney Menon" />
  <meta name="twitter:site" content="@agneymenon" />
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:image" content="https://calendar.agney.dev/public/icon.png" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
</body>

</html>